@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добро пожаловать!</h2>

 <p>Спасибо за регистрацию!</p>

 <p>Вам было выслано письмо для активации аккаунта. Пожалуйста, проверьте почту!</p